# Ignore static/img, except the small hover-preview videos and card placeholders
/static/img/*
!/static/img/project-cards/
/static/img/project-cards/*
!/static/img/project-cards/video/
!/static/img/project-cards/ml3ds-webp-1200x900.webp
